/* * {
    box-sizing: border-box ;
} */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(58, 70, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
    color: #fff;
}
.btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    padding: 1.5rem;
    width: 15rem;
    color: rgb(237, 241, 241);
    border-top: #9400D3 solid 0.4rem;
    border-right:#0000FF solid 0.4rem;
    border-bottom: #00FF00 solid 0.4rem;
    border-left:#FF7F00 solid 0.4rem ;
}

.btn2:hover,
.btn2:focus {
    background: #FF0000;
}

.container {
    text-align: center;
    padding: 10px;
    margin:50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container h1 {
  font-size: 45px;
  margin-top:0;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
 
   
}

.container p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 2px;
    margin: 0px

}

.col {
    display: flex;
    padding:50px;
    margin: 10px
}
.col h2 {
    padding: 35px;
    margin:10px
}

.col img {
    width: 20%;
    height: 100%;
    padding: 5px;
    border-radius: 20px;
}

.column img {
    padding: 0px;
}